<!-- <section class="home-grid">
      <h1 class="heading">quick options</h1>

      <div class="box-container">
        <div class="box">
          <h3 class="title">likes and comments</h3>
          <p class="likes">total likes : <span>{{ total_likes }}</span></p>
          <a href="{% url 'user_likes' %}" class="inline-btn">view likes</a>
          <p class="likes">
            total comments : <span>{{ total_comments }}</span>
          </p>
          <a href="{% url 'user_comments' %}" class="inline-btn"
            >view comments</a
          >
          <p class="likes">
            saved playlists : <span>{{ saved_playlists }}</span>
          </p>
          <a href="{% url 'saved_playlists' %}" class="inline-btn"
            >view playlists</a
          >
        </div>
-->
